#footer {
    position:relative;
    background: url(../img/tag_design_background.jpg) repeat center center scroll;
    background-size: 275px 275px;
    width:100%;
    height:275px;
}

#footer-desc {
    position:absolute;
    text-align:center;
    width: 100%;
    top: 100px;
    color:white;
    font-family: Roboto;
    font-weight: 300;
    font-size:16px;
    /*
    right:5%;
    height:275px;
    width:300px;
    padding:20px;
    */
    /* background-color:red; */
}

#footer ul li{
    display:inline-block;
 }
#footer ul li a {
    text-decoration: none;
    color:white;
}
#footer ul li a:hover,
#footer ul li a:focus,
#footer ul li a:active {
    color:grey;
}

#footer-desc p{
}
#media-icons {
    display:inline-block;
}
#media-icons a img {
    width:28px;
}

#media-icons a img:hover,
#media-icons a img:focus,
#media-icons a img:active{
    width:28px;
    opacity:0.8;
}

#copyright {
    position:absolute;
    width: 100%;
    bottom: 10px;
}
